<body>
    <div class="container">
        <!-- Wrapper untuk pusat konten -->
        <div class="form-wrapper">
            <form action="/login" method="POST">
                <div class="logo-container">
                    <img src="/images/90s.png" alt="Logo">
                </div>
                <h1>Welcome Back</h1>
                <p>Sign in to manage your tasks!</p>
                <div class="input-group">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-custom">Log In</button>
                <div class="options">
                    <p>Don't have an account? <a href="/signup" class="text-custom">Register here</a>.</p>
                </div>
            </form>
        </div>
    </div>
</body>
